.yMenuContainer span.show:after {
	width: 0; height: 0;
	border-width: 6px;
	border-style: solid;
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	margin-top:-6px;
	right: 15px;
}

.yMenuContainer .active-li > span.show:after {
	right: 18px;
	margin-top: -2px;
}

.yMenuContainer .active-li > span.show:after {
	border-color: rgba(0,0,0,.2) transparent transparent transparent;
}

.yMenuContainer span.show:after {
	border-color: transparent transparent transparent rgba(0,0,0,.2);
}