body {
	background-color: #263238;
}

button,
input[type="button"],
input[type="submit"],
.button {
	color: #607d8b;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
.button:hover {
	color: #fff;
	background-color: #607d8b;
	box-shadow: 0 5px 25px rgba(0,0,0,.5);
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
.button:active,
button.active,
input[type="button"].active,
input[type="submit"].active,
.button.active {
	color: #fff;
	background-color: #37474f;
	box-shadow: inset 0 2px 8px rgba(0,0,0,.5);
}

.sec > .title {
	background-color: #ECEFF1;
	text-shadow: 0 1px 2px rgba(0,0,0,.25);
}