/* yBlack */

.yMenuContainer,
.yMenuButton,
.yMenuCurrentName,
.yMenuBar {
	background-color: #000;
}

.yMenuButton > .icon,
.yMenuButton > .icon:before,
.yMenuButton > .icon:after {
	background-color: #fff;
}

.yMenuCurrentName,
.yMenuContainer a,
.yMenuContainer > .inner > ul > li > a {
	color: #fff;
}

.c-arrow.c-right .yMenuContainer .active-li > span.show:after {
	border-color: rgba(255,255,255,.2) transparent transparent transparent;
}

.yMenuContainer > .inner > ul > li ul {
	background-color: rgba(255,255,255,.1);
}

span.yMenuSep,
span.show:hover,
.yMenuContainer a:hover {
	background-color: rgba(255,255,255,.2);
}

.c-arrow.c-right .yMenuContainer span.show:after {
	border-color: transparent transparent transparent rgba(255,255,255,.2);
}

/*
.yMenuContainer > .inner > ul > li > ul > li > ul > li {
	background-color: rgba(255,255,255,.1);
}
*/
